POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=tadzhnahal
POSTGRES_PASSWORD=tadzhnahal123

CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=tadzhnahal
CLICKHOUSE_PASSWORD=tadzhnahal123

REDIS_HOST=localhost
REDIS_PORT=6379

KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

HWM_STORE_TYPE=yaml
HWM_STORE_PATH=./state/hwm.yaml

SPARK_APP_NAME=etl-ecommerce-clickstream
SPARK_MASTER=local[*]
SPARK_CONF_DIR=./config
