POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=tadzhnahal
POSTGRES_PASSWORD=your_pg_password

CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=tadzhnahal
CLICKHOUSE_PASSWORD=your_ch_password

REDIS_HOST=localhost
REDIS_PORT=6379

KAGGLE_API_TOKEN=your_kaggle_api_token   # получить на kaggle.com/settings

HWM_STORE_TYPE=yaml
HWM_STORE_PATH=./state/yml_hwm_store

SPARK_APP_NAME=etl-ecommerce-clickstream
SPARK_MASTER=local[*]
SPARK_CONF_DIR=./config