__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.idea/
.vscode/
.ipynb_checkpoints/

.env

k8s/spark-secret.yaml

data/raw/
data/sample/

*.csv
*.csv.gz
*.zip
*.parquet
*.jsonl

*.log
*.tmp
*.swp
.DS_Store

.spark-staging/
metastore_db/
derby.log
celerybeat-schedule
